# IC 4.10.A New Variables - Region, Customer Profiling and Final Data Set

### 0. List of Contents
#### 1. Importing Libraries and Dataframes 
#### 2. Adressing PII data 
#### 3. Comparing Customer Behaviour in Different Geographic Areas 
#### 4. Excluding Low-Activity Customers
#### 5. Customer Profiling 
#### 6. Exporting Final DF to Continue with Visualization In Another Notebook

### 1. Importing Libraries and Dataframes

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating path
path = r'/Users/fruzsinasari/Documents/Fru Python/Instacart Basket Analysis/'

In [3]:
# Importing latest version of df
ords_prods_cust = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_cust_merge.pkl'))

### 2. Adressing PII data

In [56]:
# Reviewing content of df with head to search for PII
ords_prods_cust.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest_period_of_day,max_order,loyalty_flag,avg_price_per_user,spending_flag,median_prior_order,frequent_customer_flag,Gender,STATE,Age,date_joined,add_ppl_in_household,fam_status,income,REGION,age_group,income group
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class

In [5]:
#Not all columns are displayed, displaying max columns with pd.set_option
pd.set_option('display.max_columns',None)

In [6]:
#Reprinting head
ords_prods_cust.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest_period_of_day,max_order,loyalty_flag,avg_price_per_user,spending_flag,median_prior_order,frequent_customer_flag,Gender,STATE,Age,date_joined,add_ppl_in_household,fam_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423

#### As I have removed the name columns earlier and my data set doesn't include email addresses, physical addresses, and phone numbers, there is no PII in it.

### 3. Comparing Customer Behaviour in Different Geographic Areas

#### Need to create a “Region” column based on the “State” column -> similar to creating flags, so new variables, will do it with if For-Loops.

#### First, I want to check if all 51 states appear in the STATE column or only certain ones

In [7]:
#Value_counts fot STATE columng
ords_prods_cust['STATE'].value_counts().sort_index(ascending=True)

Alabama                 638650
Alaska                  649026
Arizona                 654553
Arkansas                636737
California              660428
Colorado                639820
Connecticut             623594
Delaware                637477
District of Columbia    614334
Florida                 629631
Georgia                 657092
Hawaii                  633446
Idaho                   607811
Illinois                633476
Indiana                 627791
Iowa                    626085
Kansas                  638021
Kentucky                632955
Louisiana               638179
Maine                   639175
Maryland                627273
Massachusetts           647020
Michigan                631637
Minnesota               648424
Mississippi             633130
Missouri                641323
Montana                 635838
Nebraska                626294
Nevada                  636697
New Hampshire           615976
New Jersey              628303
New Mexico              655188
New York                636707
North Carolina          652329
North Dakota            638997
Ohio                    629016
Oklahoma                652275
Oregon                  636966
Pennsylvania            667738
Rhode Island            657662
South Carolina          637423
South Dakota            634362
Tennessee               618405
Texas                   641051
Utah                    612472
Vermont                 612269
Virginia                642103
Washington              633445
West Virginia           612938
Wisconsin               628590
Wyoming                 644927
Name: STATE, dtype: int64

#### Since it was faster to copy it to a spreadsheet than finding the syntax to assign index number to the states or calculating the number of different values the column has, I confirm that all 51 states appear in the df.

In [8]:
# for loop to create region values
result_region = []

for value in ords_prods_cust["STATE"]:
 if value == 'Maine' or value == 'New Hampshire' or value == 'Vermont' or value =='Massachusetts' or value =='Rhode Island' or value =='Connecticut' or value =='New York' or value =='Pennsylvania' or value =='New Jersey':
    result_region.append("Northeast")
 elif value == 'Wisconsin' or value =='Michigan' or value =='Illinois' or value =='Indiana' or value =='Ohio' or value =='North Dakota' or value =='South Dakota' or value =='Nebraska' or value =='Kansas' or value =='Minnesota'or value =='Iowa' or value =='Missouri':
    result_region.append("Midwest")
 elif value == 'Delaware' or value =='Maryland' or value =='District of Columbia' or value =='Virginia' or value =='West Virginia' or value =='North Carolina' or value =='South Carolina' or value =='Georgia' or value =='Florida' or value =='Kentucky'or value =='Tennessee' or value =='Mississippi'or value =='Alabama' or value =='Oklahoma' or value =='Texas' or value =='Arkansas' or value =='Louisiana':
    result_region.append("South")
 else:
    result_region.append("West")

In [9]:
# checking new list of regions by printing result_region
result_region

['South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 ...]

In [10]:
#making result_region list into a new column of DF
ords_prods_cust["REGION"]=result_region

In [11]:
#checking result of new region columns with value_counts
ords_prods_cust["REGION"].value_counts(dropna=False)

South        10801982
West          8300617
Midwest       7604016
Northeast     5728444
Name: REGION, dtype: int64

#### Determining whether there’s a difference in spending habits between the different U.S. regions

In [12]:
# creating a crosstab with region and spending_flag with pd.crosstab
crosstab = pd.crosstab(ords_prods_cust['REGION'], ords_prods_cust['spending_flag'], dropna = False)

In [13]:
crosstab

spending_flag  High spender  Low spender
REGION
Midwest              156084      7447932
Northeast            108276      5620168
South                209878     10592104
West                 160440      8140177

#### Copying this into a spreadshit a calculating the % of the values, it is clear that in all regions only around 2% of the customers are high spender, the rest is low spender

### 4. Excluding Low-Activity Customers

In [14]:
#assigning Inactive Customer variable to those whose max order is less than 5 with loc()
ords_prods_cust.loc[ords_prods_cust['max_order']<5,'loyalty_flag']='Inactive Customer'

In [15]:
#checking result of loyalty_flag column with value_counts
ords_prods_cust['loyalty_flag'].value_counts(dropna=False)

Regular customer     15891507
Loyal customer       10294027
New customer          4807955
Inactive Customer     1441570
Name: loyalty_flag, dtype: int64

#### New customer + Inactive customer = old value for New customer

In [16]:
#creating active customer data set by filtering in loyalty_flag column
active_cust = ords_prods_cust[ords_prods_cust['loyalty_flag'].isin(['Regular customer','Loyal customer','New customer'])]

In [17]:
#checking active_cust subset with head()
active_cust.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest_period_of_day,max_order,loyalty_flag,avg_price_per_user,spending_flag,median_prior_order,frequent_customer_flag,Gender,STATE,Age,date_joined,add_ppl_in_household,fam_status,income,REGION
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South

In [21]:
#checking active_cust with value_counts
ords_prods_cust['loyalty_flag'].value_counts(dropna=False)

Regular customer     15891507
Loyal customer       10294027
New customer          4807955
Inactive Customer     1441570
Name: loyalty_flag, dtype: int64

#### Based on the contorlling syntaxes (head and value_counts) creating the subset was succesful, so the last step reamins to export it

In [18]:
#exporting active_cust df for CFO
active_cust.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'active_cust.pkl'))

### 5. Customer Profiling

#### Profiling variable based on age -> will create a flag with age groups with for loops

In [22]:
# check min age to determine smallest age group
ords_prods_cust['Age'].describe()

count    3.243506e+07
mean     4.946512e+01
std      1.848555e+01
min      1.800000e+01
25%      3.300000e+01
50%      4.900000e+01
75%      6.500000e+01
max      8.100000e+01
Name: Age, dtype: float64

In [29]:
#creating age_group list with forloops
result_age = []

for value in ords_prods_cust["Age"]:
 if value <= 24:
    result_age.append('18-24')
 elif value >= 25 and value <35:
    result_age.append('25-34')
 elif value >= 35 and value <44:
    result_age.append('35-44')
 elif value >= 45 and value <54:
    result_age.append('45-54')
 elif value >= 55 and value <64:
    result_age.append('55-64')
 elif value >= 65 and value <74:
    result_age.append('65-74')
 else:
    result_age.append('75-')

In [30]:
result_age

['25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '35-44',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '75-',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '25-34',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '65-74',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 '45-54',
 ...]

In [32]:
#assigning age group list as age group column
ords_prods_cust['age_group']=result_age

In [33]:
#checking with head function
ords_prods_cust.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest_period_of_day,max_order,loyalty_flag,avg_price_per_user,spending_flag,median_prior_order,frequent_customer_flag,Gender,STATE,Age,date_joined,add_ppl_in_household,fam_status,income,REGION,age_group
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34

In [34]:
#checking new age group colulm with value counts
ords_prods_cust['age_group'].value_counts(dropna=False)

75-      5637986
25-34    5059322
45-54    4595222
35-44    4550705
65-74    4510335
55-64    4505080
18-24    3576409
Name: age_group, dtype: int64

#### Is is unexpected that most of the purchases are done by people above 75 years old

#### Profiling variable based on income -> will create a flag with income groups with for loops

In [36]:
# check income stat to determine smallest income group
ords_prods_cust['income'].describe()

count    3.243506e+07
mean     9.943550e+04
std      4.305540e+04
min      2.590300e+04
25%      6.700200e+04
50%      9.661200e+04
75%      1.279080e+05
max      5.939010e+05
Name: income, dtype: float64

In [37]:
#creating income group list with forloops
result_income = []

for value in ords_prods_cust['income']:
 if value <= 32048:
    result_income.append('Poor or near_poor')
 elif value >= 32049 and value <53413:
    result_income.append('Lower-middle class')
 elif value >= 53414 and value <106827:
    result_income.append('Middle class')
 elif value >= 106828 and value <373894:
    result_income.append('Upper-middle class')
 else:
    result_income.append('Rich')

In [38]:
result_income

['Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Lower-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 'Upper-middle class',
 ...]

In [39]:
#assign income list as income group column
ords_prods_cust['income group']=result_income

In [40]:
#checking with head function
ords_prods_cust.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,Busiest_period_of_day,max_order,loyalty_flag,avg_price_per_user,spending_flag,median_prior_order,frequent_customer_flag,Gender,STATE,Age,date_joined,add_ppl_in_household,fam_status,income,REGION,age_group,income group
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Average_orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,25-34,Lower-middle class

In [41]:
#checking income group column with value_counts
ords_prods_cust['income group'].value_counts(dropna=False)

Middle class          15260388
Upper-middle class    12822934
Lower-middle class     3768027
Poor or near_poor       524258
Rich                     59452
Name: income group, dtype: int64

#### This picture looks more as I expected, more people in the higher income group can afford to buy from an online super market

#### Profiling variable based on number of dependents with for loop

In [42]:
# check stat foradd_ppl_in_household if more grouping columns should be created
ords_prods_cust['add_ppl_in_household'].describe()

count    3.243506e+07
mean     1.501877e+00
std      1.118869e+00
min      0.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      3.000000e+00
Name: add_ppl_in_household, dtype: float64

#### Want to see if more new variables are needed or if the available information is enough

In [44]:
#using crosstab to see data spread for cat fam_status and add_ppl_in_household
crosstab_fam_hh = pd.crosstab(ords_prods_cust['fam_status'], ords_prods_cust['add_ppl_in_household'], dropna = False)

In [45]:
crosstab_fam_hh

add_ppl_in_household                    0        1        2        3
fam_status
divorced/widowed                  2774460        0        0        0
living with parents and siblings        0   530629   508546   513040
married                                 0  7557836  7590188  7629475
single                            5330885        0        0        0

#### Married + 1 are couple without children, maried +2/3 are couple with children, but who are those living with parents and siblings +1???

In [46]:
#using crosstab to see data spread for cat fam_status and age_group
crosstab_fam_age_group = pd.crosstab(ords_prods_cust['fam_status'], ords_prods_cust['age_group'], dropna = False)

In [47]:
crosstab_fam_age_group

age_group,18-24,25-34,35-44,45-54,55-64,65-74,75-
fam_status,,,,,,,
divorced/widowed,0,0,0,0,511713,1113285,1149462
living with parents and siblings,1552215,0,0,0,0,0,0
married,1159865,3764619,3417502,3462537,3335706,3397050,4240220
single,864329,1294703,1133203,1132685,657661,0,248304

In [49]:
#using crosstab to see data spread for cat fam_status and department_id
crosstab_fam_dep_id = pd.crosstab(ords_prods_cust['fam_status'], ords_prods_cust['department_id'], dropna = False)

In [50]:
crosstab_fam_dep_id

department_id,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0
fam_status,,,,,,,,,,,,,,,,,,,,,
divorced/widowed,193575,3002,100401,812834,12615,23060,231025,8409,74220,2765,38542,60477,159981,59498,89259,461911,61805,35326,246796,90818,5493
living with parents and siblings,108533,1911,56142,449628,8896,13074,124629,5620,41702,1674,21312,33981,90272,34731,51190,260787,35226,20146,137163,50415,3571
married,1569050,25205,821881,6654218,105682,188466,1889052,67513,609663,24621,314254,500862,1318340,493725,752030,3788598,522667,297162,2029589,735689,48486
single,363585,6173,194004,1562611,26503,44653,443417,16174,141042,5513,73464,113607,306776,115079,175579,887451,118968,71168,474002,174327,11595

#### 18 are baby products, but customers from all categories shop so it doesn't make sense to create a flag, baby in the family

### 6. Exporting Final DF to Continue with Visualization In Another Notebook

In [55]:
# Export data to pkl due to size
ords_prods_cust.to_pickle(os.path.join(path,'02 Data','Prepared Data', 'final.pkl'))